.Login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.Login form {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.Login form > div {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  width: 80px;
  height: 1px;
  background-color: #d2d2d2;
}

.header h1 {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: bolder;
}

.Login form input {
  border: 1px solid #eceef2;
  background-color: white;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  line-height: 14px;
  padding: 17px;
  border-radius: 3px;
  margin: 10px 0;
  outline: none;
}

.Login form input:focus {
  box-shadow: 0 0 3px #4a906f;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.wrapper:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Login form button {
  border: 1px solid #d2d2d2;
  background-color: #4a906f;
  padding: 17px;
  border-radius: 3px;
  margin: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.Login form a {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #a21422;
  margin-left: auto;
  margin-top: 7px;
  text-decoration: none;
}

.footer {
  margin-top: auto;
  padding: 16px;
  font-size: 13px;
  line-height: 18px;
  font-family: "Nunito", sans-serif;
  color: #192429;
  background-color: rgba(0, 104, 53, 0.07);
}

.footer a {
  font-weight: bold;
  color: rgba(0, 104, 53, 1);
  text-decoration: none;
}
