.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.left, .right {
  width: 50%;
  height: 100%;
}

.right {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #e6f0eb 74%);
}

.left {
  padding: 90px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}